h1 {
  font-family: Arial, Helvetica, sans-serif;

  /* font-size: px, %, em */
  font-size: 100px;

  /* font-weight: lighter, normal, 100-900, bold, bolder */
  font-weight: normal;

  /* font-variant: normal, small-caps */
  font-variant: small-caps;

  /* font-style: normal, italic, oblique */
  font-style: italic;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;

  /* line-height: normal, px, em */
  line-height: 20px;
}

/* css font shorthand */
body {
  /* urutan harus sesuai */
  font-style: italic; /* optional */
  font-variant: normal; /* optional */
  font-weight: bold; /* optional */
  font-size: 16px; /* wajib */
  line-height: 18px; /* optional */
  font-family: helvetica, arial, sans-serif; /* wajib */
}

body {
  font: italic normal bold 16px/18px helvetica, arial, sans-serif;
}
